<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.jejer.hipda"
    android:versionCode="33"
    android:versionName="2.1.05">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ui.HiApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ThemeLight">
        <activity
            android:name=".ui.MainFrameActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".ng.IntentActivity"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainFrameActivity">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:host="www.hi-pda.com" />
                <data android:pathPrefix="/forum/forumdisplay.php" />
                <data android:pathPrefix="/forum/viewthread.php" />
                <data android:pathPrefix="/forum/gotopost.php" />
                <data android:pathPrefix="/forum/redirect.php" />
                <data android:pathPrefix="/forum/space.php" />
            </intent-filter>
        </activity-alias>

        <receiver android:name=".utils.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".utils.NotificationReceiver" />

    </application>

</manifest>