<?xml version="1.0" encoding="utf-8"?>
<manifest package="net.jejer.hipda"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="105"
          android:versionName="4.0.05">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".ui.HiApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ThemeLight">
        <activity
            android:name=".ui.MainFrameActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".ng.MainActivity-Original"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainFrameActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ng.MainActivity-Circle"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_circle"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainFrameActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ng.IntentActivity"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainFrameActivity">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http"/>
                <data android:host="www.hi-pda.com"/>
                <data android:pathPrefix="/forum/forumdisplay.php"/>
                <data android:pathPrefix="/forum/viewthread.php"/>
                <data android:pathPrefix="/forum/gotopost.php"/>
                <data android:pathPrefix="/forum/redirect.php"/>
                <data android:pathPrefix="/forum/space.php"/>
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="https"/>
                <data android:host="www.hi-pda.com"/>
                <data android:pathPrefix="/forum/forumdisplay.php"/>
                <data android:pathPrefix="/forum/viewthread.php"/>
                <data android:pathPrefix="/forum/gotopost.php"/>
                <data android:pathPrefix="/forum/redirect.php"/>
                <data android:pathPrefix="/forum/space.php"/>
            </intent-filter>
        </activity-alias>

        <receiver android:name=".utils.NotificationReceiver"/>

        <meta-data
            android:name="net.jejer.hipda.glide.MyGlideModule"
            android:value="GlideModule"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".ui.ImageViewerActivity"
            android:theme="@style/ThemeBlack"/>

    </application>

</manifest>